@import "dimens";

.Author {
  display: inline-flex;

  flex-direction: row;

  font-weight: normal;
}

.Author-image {
  width: 74px;
  height: 74px;

  img {
    width: 100%;
    height: auto;

    border-radius: 100%;
  }
}

.Author-details {
  display: inline-flex;

  flex-direction: column;
  justify-content: space-around;

  padding-left: $Dimens-padding;

  .Author-name {

  }

  .Author-twitter {

  }
}
