$Color-blueMain: #4285F4;
$Color-blueLight: #7BAAF7;
$Color-blueLightest: #C6DAFC;
$Color-blueDark: #3367D6;

$Color-redMain: #DB4437;
$Color-redLight: #E67C73;
$Color-redLightest: #F4C7C3;
$Color-redDark: #C53929;

$Color-yellowMain: #F4B400;
$Color-yellowLight: #F7CB4D;
$Color-yellowLightest: #FCE8B2;
$Color-yellowDark: #F09300;

$Color-greenMain: #0F9D58;
$Color-greenLight: #57BB8A;
$Color-greenLightest: #B7E1CD;
$Color-greenDark: #0B8043;


$Color-grey-0: #DDDDDD;
$Color-grey-1: #999999;
$Color-grey-2: #666666;
$Color-grey-3: #333333;

$Color-grey-lightBg: #E8E8E8;
$Color-grey-darkBg: #424242;
